/*-- scss:defaults --*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$presentation-font-size-root: 24px;
$code-block-font-size: 0.9em;

$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.4em;
$presentation-h4-font-size: 1.2em;

/*-- scss:rules --*/
